__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyd
*.pycache
.Python
*.sqlite3
*.log
*.pot
*.mo

*.db
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

.venv/
venv/

.idea/
.vscode/
*.sublime*

.DS_Store

*.pid
*.seed
docker-compose.override.yml
