asgiref==3.8.1
attrs==25.3.0
certifi==2025.1.31
cfgv==3.4.0
charset-normalizer==3.4.1
distlib==0.3.9
Django==5.0.4
django-cleanup==9.0.0
django-cors-headers==4.7.0
django-debug-toolbar==5.1.0
django-fsm-2==4.0.0
django-redis==5.4.0
django-simple-history==3.8.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
Faker==37.1.0
filelock==3.18.0
identify==2.6.9
idna==3.10
inflection==0.5.1
iniconfig==2.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
nodeenv==1.9.1
packaging==24.2
platformdirs==4.3.7
pluggy==1.5.0
pre_commit==4.2.0
psycopg2==2.9.10
PyJWT==2.9.0
pytest==8.3.5
pytest-django==4.11.1
pytest-mock==3.14.0
PyYAML==6.0.2
redis==5.2.1
referencing==0.36.2
requests==2.32.3
rpds-py==0.24.0
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.4.0
virtualenv==20.30.0
